<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Greeter Form 2</h1>
    <form action="/greet2">
        <input type="text" placeholder="PLACE YOUR NAME HOE" name="username">
        <label for="compliments">Do you want compliments</label>
        <input type="checkbox" name="wants_compliments" id="compliments">
        <button>Submit</button>
    </form>
    
</body>
</html>